#name{position:absolute;
   left:400px;
   top:100px;
   color:red;
   background-color:yellow;
   display:inline;
   margin-right:10px;}
#n1{display:inline;
   background-color:yellow;
   position:absolute;
   top:300px;
   left:300px;
   color:red;}
#n2{display:inline;
   background-color:yellow;
   position:absolute;
   top:300px;
   left:400px;
   color:red;}
#n3{display:inline;
   background-color:yellow;
   position:absolute;
   top:300px;
   left:500px;
   color:red;}
#nn{display:inline;
   background-color:yellow;
   position:absolute;
   top:200px;
   left:500px;
   color:red;}
#b1{position:absolute;
    left:1000px;
    top:100px;
    font-size:20;
    display:inline;}
#b2{position:absolute;
    left:800px;
    top:100px;
    font-size:20;
    display:inline;}
body{background-color:lightblue;}